* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}

.App {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
}
/* Navbar - public Route / landing page */

.nav-home {
    border-bottom:grey 4px solid;
  background: grey;
  padding: 15px;
  font-size: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav h1 {
    font-size: 35px;
}
  
.nav-links a {
    margin: 10px;
    font-size: 25px;
}

nav h1,
nav a {
  text-decoration: none;
}
.nav-home ul {
    list-style-type: none;
    padding: 0;
    text-align: end;
    padding-inline-end: 5px;
}



nav a:hover {
    color: white;
}

nav a:visited {
    color: black;
}

/* About page */

.about-ul {
    list-style-type: none;
    padding: 0;
}

/* login page */

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.login-section {
   display: flex;
   flex-direction: column;
}
/* Register */

.register-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 15%;
  border: grey 2px solid;
  padding: 10px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .register-form {
      display: flex;
      flex-direction: column;
      width: 60%;
    }
}




